<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated task -->
      <package
            uri="org.ollabaca.on.mm.task"
            class="org.ollabaca.on.mm.task.TaskPackage"
            genModel="model/task.xcore"/>
   </extension>

</plugin>
