<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="org.ollabaca.on.mm.uml.rest"
            class="org.ollabaca.on.mm.uml.rest.RestPackage"
            genModel="model/rest.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated todo -->
      <package
            uri="org.ollabaca.on.mm.uml.todo"
            class="org.ollabaca.on.mm.uml.todo.TodoPackage"
            genModel="model/todo.xcore"/>
   </extension>

   <extension
         point="org.ollabaca.on.site.SitePlugin">
      <plugin
            class="org.ollabaca.on.mm.uml.UmlSitePlugin">
      </plugin>
   </extension>

</plugin>
