<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gtbr -->
      <package
            uri="org.ollabaca.on.gtbr"
            class="org.ollabaca.on.gtbr.GtbrPackage"
            genModel="model/gtbr.xcore"/>
   </extension>

</plugin>
