<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="ContentProvider" name="ContentProvider" schema="schema/ContentProvider.exsd"/>
   <extension-point id="SitePlugin" name="SitePlugin" schema="schema/SitePlugin.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.ollabaca.on.site"
            class="org.ollabaca.on.site.SitePackage"
            genModel="model/site.xcore"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.ollabaca.on.site.Startup">
      </startup>
   </extension>
</plugin>
