<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="RendererFactory" name="RendererFactory" schema="schema/RendererFactory.exsd"/>
   <extension-point id="ContentProvider" name="ContentProvider" schema="schema/ContentProvider.exsd"/>
   <extension-point id="LabelProvider" name="LabelProvider" schema="schema/LabelProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.ollabaca.on.site"
            class="org.ollabaca.on.site.SitePackage"
            genModel="model/site.xcore"/>
   </extension>
   <extension
         point="org.ollabaca.on.site.ContentProvider">
      <provider
            class="org.ollabaca.on.site.graph.GraphContentProvider">
      </provider>
   </extension>
</plugin>
