<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated om -->
      <package
            uri="org.ollabaca.on.mm.om"
            class="org.ollabaca.on.mm.om.OmPackage"
            genModel="model/om.xcore"/>
   </extension>

</plugin>
