<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated org -->
      <package
            uri="org.ollabaca.on.mm.org"
            class="org.ollabaca.on.mm.org.OrgPackage"
            genModel="model/org.xcore"/>
   </extension>

</plugin>
