<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "org.ollabaca.on" 
       class = "org.ollabaca.on.model.ModelPackage"
       genModel = "org/ollabaca/on/Notation.genmodel" /> 
	
  </extension>
  <extension
        id="org.ollabaca.on.marker"
        point="org.eclipse.core.resources.markers"
        name="On Marker">
      <super type="org.eclipse.core.resources.problemmarker"/> 
  </extension>
</plugin>
