<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ollabaca.on.site.ContentProvider">
      <provider
            class="org.ollabaca.on.uml.UmlContentProvider">
      </provider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated book -->
      <package
            uri="org.ollabaca.on.uml.book"
            class="org.ollabaca.on.uml.book.BookPackage"
            genModel="model/book.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="org.ollabaca.on.uml.rest"
            class="org.ollabaca.on.uml.rest.RestPackage"
            genModel="model/rest.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated org -->
      <package
            uri="org.ollabaca.on.uml.org"
            class="org.ollabaca.on.uml.org.OrgPackage"
            genModel="model/org.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated task -->
      <package
            uri="org.ollabaca.on.uml.task"
            class="org.ollabaca.on.uml.task.TaskPackage"
            genModel="model/task.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated todo -->
      <package
            uri="org.ollabaca.on.uml.todo"
            class="org.ollabaca.on.uml.todo.TodoPackage"
            genModel="model/todo.xcore"/>
   </extension>

   <extension
         point="org.ollabaca.on.site.SitePlugin">
      <plugin
            class="org.ollabaca.on.uml.UmlSitePlugin">
      </plugin>
   </extension>

</plugin>
