<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ollabaca.on.site.ContentProvider">
      <provider
            class="org.ollabaca.on.uml.UmlContentProvider">
      </provider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated book -->
      <package
            uri="org.ollabaca.on.uml.book"
            class="org.ollabaca.on.uml.book.BookPackage"
            genModel="model/book.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="org.ollabaca.on.uml.rest"
            class="org.ollabaca.on.uml.rest.RestPackage"
            genModel="model/rest.xcore"/>
   </extension>

</plugin>
